<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Marisa Smith - RevieuWine</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="../static/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="../static/css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">RevieuWine</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Instructions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Input</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">RevieuWine is the key to recieving excellent reviews from known wine tasters!</h1>
            <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="col">
            <img src="../static/img/pour_wine_4.jpg" width="500" height="auto">
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">Wine Characteristics</h2>
          <p>Input the key characteristics of your wine, and let our machine Learning algorithms find the best match for you! Check the table for examples of wine attributes, and type a description in the text field.</p>
          <p> Please Note: this is not a comprehensive list of all attributes used, feel free to use other descriptors</p>
        </div>
        <div class="col-md-8 mx-auto">
          <div class="row justify-content-center">
          <table>
            <tr>
              <th> <h6>Descriptons </h6>  </th>
              <th><h6>Type </h6>  </th>
              <th><h6>Location </h6>  </th>
            </tr>
            <tr>
              <td>Oaky</td>
              <td>Red</td>
              <td>USA</td>
            </tr>
            <tr>
              <td>Fruity</td>
              <td>White</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td>Tannins</td>
              <td>Blend</td>
              <td>France</td>
            </tr>
            <tr>
              <td>Pepper</td>
              <td>Sparkling</td>
              <td>UK</td>
            </tr>
            <tr>
              <td>Acidic</td>
              <td>Rose</td>
              <td>Canada</td>
            </tr>
            <tr>
              <td>Espresso</td>
              <td>Champagne</td>
              <td>Italy</td>
            </tr>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
          </table>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <a href="#features" class="btn btn-outline btn-xl js-scroll-trigger">Go to Input</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>


  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h3>Enter Wine Decriptors</h3>
        <form action="/output" method="GET" id="user_input">
          <input class="form-control" type="text" id="user_input" name='user_input' placeholder="e.g. mature vanilla, with raspberry, apple and blackberry">
        </form>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-secondary btn-lg" form="user_input">Go!</button>
      </div>

  {% if my_form_result=='Empty' %}
  <div class="row mt-4 justify-content-center">
        <h4 class="text-danger text-center ">An example of what you can type: <span>&#8220;</span>A crisp red wine with hints of oak and ash, with strong tannins and a bold finish"</h4>
  </div>

  {% elif my_form_result=='Processing' %}
  <div class="row mt-4 justify-content-center">
        <h4 class="text-danger text-center text-uppercase">_ PLEASE WAIT WE ARE PROCESSING _</h4>
  </div>


  {% elif my_form_result=='NotEmpty' %}
  <div class="container">
    <div class="section-heading text-center">
        <h4 class="text text-center text-uppercase">Your top 5 reviewers</h4>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col">
          <img src="{{ url_for('static', filename = my_img_name) }}" max-width=50% height='auto' >
    </div>
    <div class="row p-1 m-1 justify-content-center">
     <! <div class="col-md- w-50 list-group">
      <!  <ul class="list-group">
        <! <h4 class="text-center">
          <! <li class="list-group-item d-flex justify-content-between align-items-center active">
            <table>
              <tr>
                <th> <h4><b>Reviewer Name      </b></h4>  </th>
                <th> <h4><b>   </b></h4>  </th>
                <th> <h4><b>   </b></h4>  </th>
                <th> <h4><b>   </b></h4>  </th>
                <th> <h4><b>   </b></h4>  </th>
                <th><h4><b>Score</b></h4>  </th>
              </tr>
              <tr>
                <td>{{output_1}}</td>
                <td>{{number_1}}</td>
              </tr>
              <tr>
                <td>{{output_2}}</td>
                <td>{{number_2}}</td>
              </tr>
              <tr>
                <td>{{output_3}}</td>
                <td>{{number_3}}</td>
              </tr>
              <tr>
                <td>{{output_4}}</td>
                <td>{{number_4}}</td>
              </tr>
              <tr>
                <td>{{output_5}}</td>
                <td>{{number_5}}</td>
              </tr>
              </tr>
            </table>
            </p>
          </div>
                  </li>
                </h4>
          </ul>
    </div>


  {% else %}
  {% endif %}
  </div>
  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>I
        <i class="fas fa-heart"></i>
        new friends!</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="www.linkedin.com/in/marisa-smith-a211a9ba/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item social-facebook">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; Marisa Smith 2019. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/new-age.min.js"></script>

</body>

</html>
